body {
    background-color: hsl(0, 0%, 8%) ;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

main {
    background-color: hsl(0, 0%, 12%) ;
    border-radius: 10px;
}
 
.container {
    padding: 40px;
}

.container img {
    display: flex;
    width: 100px;
    border-radius: 50px;
    margin-top: 2px; 
    justify-self: center;
} 

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.information h1 {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    font-weight: 700;
}

.information h2 {
    color: hsl(75, 94%, 57%);
    font-size: 16px;
    font-weight: 600;
}

.information p {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 15px;
}

li a {
    display: flex;
    color: hsl(0, 0%, 100%);
    background-color:  hsl(0, 0%, 20%);
    width: 250px; 
    padding: 12px;
    justify-content: center;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

li a:hover {
    color: hsl(0, 0%, 12%);
    background-color: hsl(75, 94%, 57%);
}