body {
    background-color: hsl(0, 0%, 8%) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

main {
    /* display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    justify-content: center; */
    background-color: hsl(0, 0%, 12%) ;
    /* width: 40%;
    height: 64vh; */
    border-radius: 10px;
    width: 40%;
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 */
.container img {
    display: flex;
    width: 100px;
    border-radius: 50px;
    margin-top: 45px;
    justify-self: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.information h1 {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    font-weight: 700;
}

.information h2 {
    color: hsl(75, 94%, 57%);
    font-size: 16px;
    font-weight: 600;
}

.information p {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 15px;
}

